.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(124, 124, 124, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #3b3b3b;
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav__new {
    left: 35px;
}