.screen-header{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: var(--horizontal-space);
}

.screen-header__icons:last-child {
    position: relative;
}

.screen-header__dot {
    left: 100px;
    bottom: 20px;
}